/* section-commons */

section {
    margin: 0 auto;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: $text-color-primary;
}

a:hover{
    color: $primary-color;
}

section{
    width: 1600px;
}

body {
    font-family: $main-font;
    color: $text-color-primary;
}

label {
    font-family: $main-font;
    font-size: 12px;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
}