$main-font: 'Roboto', 'sans-serif';
$secondary-font: 'Raleway', 'sans-serif';
$primary-color: #2196F3;
$secondary-color: #ffffff;
$text-color-primary: #212121;
$text-color-secondary: #757575;
$text-color-tertiary: #AFB1B8;
$color-dark: #2f303a;
$color-light: #f5f4fa;